<div style="margin-top: 50px;">
    <h1 style="text-align: center;" class="favorites-title">User Favorites</h1>
</div>
<div class="favorite-movies-container">
    <mat-card *ngFor="let movie of favorites;" style="flex: 1 1 auto; margin: 1rem;">
        <mat-card-header>
            <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImageUrl}} alt={{movie.Title}} />
        <mat-card-actions>
            <button mat-raised-button color="primary" class="movie-card-button" style="margin: 8px;">
                Genre
            </button>
            <button mat-raised-button color="primary" class="movie-card-button" style="margin: 8px;">
                Director
            </button>
            <button mat-raised-button color="primary" class="movie-card-button" style="margin: 8px;">
                Synopsis
            </button>
            <mat-icon style="cursor: pointer;">favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>