.navbar {
  display: flex;
  justify-content: space-between;
}

.form-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.form {
  display: block;
}

.delete-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editUserTitle {
  text-align: center;
}

.navbar-title {
  cursor: pointer;
}
