<mat-toolbar class="navbar">
    <span class="navbar-title" style="font-size: xx-large; margin-left: 20px;"
        (click)="sendUserHome()">MovieFindr</span>
    <button mat-flat-button color="accent" style="margin-right: 20px;" (click)="logOut()">Logout</button>
</mat-toolbar>
<div class="userDiv">
    <h1>{{user.Username}}</h1>
    <!-- <button (click)="this.userTesting()">click to test</button> -->
    <h2>{{user.Email}}</h2>
</div>
<h1 class="editUserTitle">Edit User Information</h1>
<div class="form-div">
    <form id="toggler">
        <label>Username</label>
        <mat-form-field style="display: block; margin-top: 5px;">
            <input matInput [(ngModel)]="newUserDetails.Username" placeholder="Username" type="text" name="Username"
                value="{{newUserDetails.Username}}" required>
        </mat-form-field>
        <label>Password</label>
        <mat-form-field style="display: block; margin-top: 5px">
            <input matInput [(ngModel)]="newUserDetails.Password" placeholder="Password" type="text" name="Password"
                value="{{newUserDetails.Password}}" required>
        </mat-form-field>
        <label>Email</label>
        <mat-form-field style="display: block;  margin-top: 5px">
            <input matInput [(ngModel)]="newUserDetails.Email" placeholder="Email" type="text" name="Email"
                value="{{newUserDetails.Email}}" required>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="updateThisUser()">Submit</button>
    </form>
</div>
<div class="delete-acc">
    <h1 class="delete-item" id="delete-title">Delete Account</h1>
    <button mat-raised-button color="warn" class="delete-item" (click)="deleteUserAccount()">Delete Account</button>
</div>
<app-user-favorites />